<ion-content fullscreen="true" slot="fixed">
  <div class="logo">
    <p><img class="logoapp" src="../../../assets/img/logo_size_invert.jpg" height="180" width="220" alt=""></p>
  </div>
    <div class="card">
      <div class="card-body">
        <div class="Login ion-text-center">
          <h3 class="fonteLogin">cadastro</h3>
        </div>

      <ion-item class="email" lines="none">
        <ion-input type="email" placeholder="E-mail"></ion-input>
      </ion-item>

      <ion-item class="senha" lines="none">
        <ion-input type="password" placeholder="Senha"></ion-input>
      </ion-item>
     
      <ion-item class="Data_Nascimento" lines="none">
        <ion-input type="Data" placeholder="Data Nascimento"></ion-input>
      </ion-item>
      
      <ion-item class="Modelo_do_carro" lines="none">
        <ion-input type="text" placeholder="Modelo do caro"></ion-input>
      </ion-item>
   <table>
      <tr> 
       <td>  <ion-button class="botaoCadastrar" click="Cadastrar()" color="primary" expand="block">Cadastrar</ion-button></td>
          <td>  <ion-button class="botaoCancelar" click="Cancelar()" color="primary" expand="block">Cacelar</ion-button> </td> 
       </tr>
           <tr>
             <td><ion-button class="bt-sociais"><ion-icon name="logo-facebook"></ion-icon><td></td></ion-button></td>
           </tr>
    </table>
    </div>
  </div>
</ion-content>