<ion-content fullscreen="true" slot="fixed">
  <div class="logo">
    <p><img class="logoapp" src="../../../assets/img/logo_size_invert.jpg" height="180" width="220" alt=""></p>
  </div>
    <div class="card">
      <div class="card-body">
        <div class="Login ion-text-center">
          <h3 class="fonteLogin">Cadastro</h3>
        </div>
  
      <ion-item class="email" lines="none">
        <ion-input type="email" placeholder="E-mail" [(ngModel)]="Email"></ion-input>
      </ion-item>

      <ion-item class="senha" lines="none">
        <ion-input type="password" placeholder="Senha" [(ngModel)]="Password"></ion-input>
      </ion-item>

   <table>
      <tr> 
       <td>  <ion-button class="botaoCadastrar" (click)="cadastro()" color="primary" expand="block">Cadastrar</ion-button> </td>
       <td>  <ion-button class="botaoCancelar" click="Cancelar()" color="primary" expand="block">Cancelar</ion-button>     </td> 
       </tr>
           <tr>
        
           </tr>
    </table>
    </div>
  </div>
</ion-content>