ion-content {
    --background: url(../../assets/img/fundoazul.jpg);
    position: relative;
    height: 60%;
    width: 100%;
}

ion-toolbar {
    --background: transparent;
}

ion-item {
    --background: #ffffff;
    border-radius: 20px;
}

.logo {
    margin-top: 5px;
    height: 200px;

    p{
        text-align: center;
    }

}

.card {
    margin: 0 auto;
    border-radius: 10px;
    height: 20px;
    width: 100%;

}

.card-body {
    background-color: #f2f2f2;
   // height: calc(100vh - (180px));
    height: 600px;
    overflow: hidden;

    border-top-right-radius: 40px;
    border-top-left-radius: 40px;

    .email{
        border-radius: 20px;
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 60px;
    }
 
    .botaoRecuperar{
        margin-top: 35px;
        margin-bottom: 35px;
        padding-left: 75px;
        padding-right: 10px;
        font-weight: 600;
    }
    .botaoCancelar{
        margin-top: 35px;
        margin-bottom: 35px;
        padding-left: 10px;
        padding-right: 10px;
        font-weight: 600;
    }
  
    .Login {
        padding-top: 40px;

        .fonteLogin{
            font-size: 24px;
            font-weight: 600;
            color: #5b5f62;
        }

        .nickname {
            font-size: 90%;
            color: #949ea6;
            text-transform: uppercase;
            margin: 0 auto;
            padding-bottom: 20px;
        }
    }
}