<ion-content fullscreen="true" slot="fixed">
  <div class="logo">
    <p><img class="logoapp" src="../../../assets/img/logo_size_invert.jpg" height="300" width="280" alt=""></p>
  </div>
    <div class="card">
      <div class="card-body">
        <div class="Login ion-text-center">
          <h3 class="fonteLogin">Login</h3>
        </div>

      <ion-item class="email" lines="none">
        <ion-input type="email" placeholder="Email" [(ngModel)]="Email"></ion-input>
      </ion-item>

      <ion-item class="senha" lines="none">
        <ion-input type="password" placeholder="Senha" [(ngModel)]="Password"></ion-input>
      </ion-item>

      <ion-button  class="botao" (click)="login()" color="primary" expand="block">
        Login
      </ion-button>
      <a class="link" href="http://localhost:8100/cadastro" color="primary">Cadastre-se</a> 
    </div>
  </div>
</ion-content>