<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="tabPerfil">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="feed">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>CarSocial</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="recuperar-senha">
      <ion-icon name="calendar-number-outline"></ion-icon>
      <ion-label>recuperar</ion-label>
    </ion-tab-button>
   
    <ion-tab-button tab="cadastro">
      <ion-icon name="calendar-number-outline"></ion-icon>
      <ion-label>Eventos</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>