<ion-header>
  <ion-toolbar class="tab-bar-sub" color="primary">
      <ion-buttons slot="start">
        <ion-button (click)="toggleMenu()"menuId="custom" contentId="main" class="my-custom-menu">
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
          <ion-label>CarSocial</ion-label>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- todo o menu ta em tabs/app.component.html -->
<!-- ctrl+k  ctrl+u para comentar um bloco -->
<ion-content>
  <ion-card class="card"> 
      <ion-item>
          <ion-avatar slot="start">
              <img src="assets/img/user.png">
          </ion-avatar>

          <ion-label class="ion-text-wrap">
              <ion-text color="dark"><h3>Rafael</h3></ion-text>
          </ion-label>

      </ion-item>

      <ion-card-content>
      Fiz algumas modificações no meu subaru.
      </ion-card-content>
      <img src="./assets/img/subaro.png" height="250" width="400">
      <ion-card-content class="button">
          <ion-button size="small" fill="outline" slot="end">Curtir</ion-button>
          <ion-button size="small" fill="outline" slot="end">Comentar</ion-button>
          <ion-button size="small" fill="outline" slot="end">Compartilhar</ion-button>

      </ion-card-content>
    </ion-card>

  <ion-card> 
      <ion-item>
          <ion-avatar slot="start">
              <img src="assets/img/user2.jpg">
          </ion-avatar>

          <ion-label class="ion-text-wrap">
              <ion-text color="dark"><h3>Matheus</h3></ion-text>
          </ion-label>
          
      </ion-item>

      <ion-card-content>
        Gostaram da cor da minha Audi S3?.     
      </ion-card-content>
      <img src="./assets/img/audis3.png" height="250" width="400">
      <ion-card-content>
        <ion-button size="small" fill="outline" slot="end">Curtir</ion-button>
        <ion-button size="small" fill="outline" slot="end">Comentar</ion-button>
        <ion-button size="small" fill="outline" slot="end">Compartilhar</ion-button>

      </ion-card-content>
    </ion-card>

  <ion-card> 
      <ion-item>
          <ion-avatar slot="start">
              <img src="assets/img/user.png">
          </ion-avatar>

          <ion-label class="ion-text-wrap">
              <ion-text color="dark"><h3>Guilherme</h3></ion-text>
          </ion-label>
          
   
      </ion-item>

      <ion-card-content>
        Fiz algumas modificações no meu subaru.
      </ion-card-content>
      <img src="./assets/img/subaro.png" class="img">
      <ion-card-content>
        <ion-button size="small" fill="outline" slot="end">Curtir</ion-button>
        <ion-button size="small" fill="outline" slot="end">Comentar</ion-button>
        <ion-button size="small" fill="outline" slot="end">Compartilhar</ion-button>

      </ion-card-content>
    </ion-card>
</ion-content>