<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>


<ion-app>
  <ion-router-outlet id="main"></ion-router-outlet>

<ion-menu menuId="custom" contentId="main" class="my-custom-menu">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>Configurações</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>5</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>5</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
</ion-app>